@charset "utf-8";

@font-face{
    font-family: "SsukSsuk";
    src: url('./fonts/Cafe24Ssukssuk.ttf') format('truetype');
}
/* All Device */
/*모든 해상도를 위한 공통 코드를 작성한다. 모든 해상도에서 이 코드가 실행됨.*/
body{
    margin: 0;
    font-family: "SsukSsuk";
}
a{
    text-decoration: none;
    color: #6FCF97;
}
header{
    height: 80px;
}
header h2{
    margin : 0;
    line-height: 80px;
    text-align: center;
    border-bottom: solid 1vw #6FCF97;
}

img{
    width: 180px;
    height: 50vw;
}
.logo{
    margin-top: 10vw;
    position:relative;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
}
.select{
    position:relative;
}

.btn{
    left: 0; right: 0;
    margin-top: 50px;
    margin-left:auto; margin-right:auto;
    width: 264px;
    height: 56px;
    line-height: 56px;
    text-align: center;
}
button{
    background:#6FCF97;
    color:#fff;
    border:none;
    position:relative;
    height:56px;
    width: 264px;
    font-family: "SsukSsuk";
    font-size:1.6em;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
}
button:hover{
    background:#fff;
    color: #6FCF97;
}
button:before,button:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #6FCF97;
    transition:400ms ease all;
}
button:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
}
button:hover:before,button:hover:after{
    width:100%;
    transition:800ms ease all;
}  
footer{
    background-color:  #6FCF97;
}
/* Mobile Device */
/*768px 미만 해상도의 모바일 기기를 위한 코드를 작성한다. 모든 해상도에서 이 코드가 실행됨. 미디어 쿼리를 지원하지 않는 모바일 기기를 위해 미디어 쿼리 구문을 사용하지 않는다.*/

/* Tablet & Desktop Device */
@media all and (min-width:768px) {
/*사용자 해상도가 768px 이상일 때 이 코드가 실행됨. 테블릿과 데스크톱의 공통 코드를 작성한다.*/
}


