.wrap {
  width: 40%;
  margin: 10px auto;
  border: 1px;
  position: relative;
}


.image {
  width: 30%;
  vertical-align: middle;
 }
 

.text {
  text-aglin : center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -50% );
 }
  
